.image{
  width: 100%;
}
.shadow{
  -webkit-box-shadow: 11px 12px 39px -18px rgba(0,0,0,0.74);
-moz-box-shadow: 11px 12px 39px -18px rgba(0,0,0,0.74);
box-shadow: 11px 12px 39px -18px rgba(0,0,0,0.74);
}
