<!-- <div class="parent">
  <img class="image3" src="./../assets/spinner-frame//spinner-master.png" alt="">
  <div>
    <img class="image1" src="./../assets/spinner-frame//spinner-master-circle.png" alt="">
  </div>
  <div *ngFor="let element of selectedArray">
    <img class="image2in" [src]="element" alt="" [ngClass]="flag? 'image2in' : 'image2out'">
  </div>
</div>
<app-import></app-import> -->
<!-- {{difference}}
<input [(ngModel)]="param"  type="number">
<button (click)="onClick()"></button>
<div *ngFor="let element of lista">{{element}}</div> -->
<div style="position: relative;">
  <span><mat-icon>account_circle</mat-icon></span><span style="position: absolute; margin-top: 3px;">Jhon Doe</span>
</div>

